%h1
  = @room.number
  = link_to "Edit", edit_subdivision_room_path(@room.subdivision, @room), class: "btn btn-info btn-small"

= link_to "Back", department_subdivision_path(@room.subdivision.department, @room.subdivision)
